@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>SGC – sistema de Gerenciamento de Cursos e o sistema onde permitirá aos professores criar e gerenciar cursos e aos coordenadores de escola acompanhar o andamento dos mesmos. Explore nossas seções para descobrir mais e entre em contato para qualquer dúvida. Estamos aqui para proporcionar a melhor experiência para você!</p>
</div>
