@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<br>

<p> Sua privacidade é importante para nós. Coletamos informações pessoais como nome, e-mail e dados de navegação para melhorar sua experiência no site. Utilizamos cookies e outras tecnologias para personalizar o conteúdo e fornecer suporte ao cliente. Suas informações são protegidas com medidas de segurança adequadas, e só compartilhamos dados com prestadores de serviços e conforme exigido por lei. </p>

<p> Você tem o direito de acessar, corrigir e excluir suas informações pessoais. Para exercer esses direitos ou em caso de dúvidas, entre em contato conosco pelo e-mail. Mantemos nossa política de privacidade atualizada e notificaremos sobre mudanças importantes. Para mais detalhes, consulte a versão completa em nosso site. </p>
